<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/cards.css"> <!-- New CSS file for cards -->
    <link rel="stylesheet" href="../css/error.css">
</head>

<body>
    <header>
        <h1>Mrfjm Forum</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Add Post</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>

            <h1>404</h1>
            <p class="error-message">Oops! The page you're looking for can't be found.</p>
            <a href="/" class="back-home">Back to Home</a>
        
    </main>

    <footer>
        <p>&copy; 2024 Mrfjm Website. All rights reserved.</p>
    </footer>
</body>

</html>
